page-session-code {

  .container {
    display: table;
    position: absolute;
    height: 75%;
  }

  .item-list {
    display: table-cell;
    vertical-align: middle;
  }

  .item {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    ion-input {
      background: whitesmoke !important;
    }
  }

  .title-label {
    color: orange;
    font-weight: 500;
  }

  .font-normal {
    font-weight: inherit;
  }

  .flex-container {
    display: inline-flex;
  }

}
