<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="liberi">TARJETAS</ion-title>
  </ion-navbar>
  <navbar-bump></navbar-bump>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header text-center>Tarjetas Registradas</ion-list-header>
    <ion-item *ngFor="let c of cards;let i = index" text-wrap text-center (tap)="selectCard(i)" [class.selected]="c.selected" no-lines margin-bottom>
      <b text-uppercase>{{c.card.brand}}</b> {{c.card.card_number}}
      <img src="assets/img/component/close.png" item-right class="action-button" (tap)="action(c.card, 'remove', i)" *ngIf="c.selected">
      <img src="assets/img/component/check-green.png" item-left class="action-button" (tap)="action(c.card, 'edit', i)" *ngIf="c.selected">
    </ion-item>
  </ion-list>
  <div text-center>
    <liberi-button name="plus" (click)="addCard()"></liberi-button>
  </div>
</ion-content>
<ion-footer no-shadow>
    <div class="liberi-logo-line"></div>
    <ion-toolbar position="bottom"></ion-toolbar>
</ion-footer>