page-home {

  ion-navbar {
    background: rgba(6, 6, 6, 0.16862745098039217) !important;
  }

  ion-header {
    .toolbar {
      position: absolute;

      .toolbar-background {
        background: transparent;
      }
      .toolbar-title, ion-icon, ion-label {
        color: #313335 !important;
      }
    }
    .searchbar-input {
      background: #e8e8e8 !important;
      color: #000 !important;
      ::placeholder {
        color: red !important;
        opacity: 1; /* Firefox */
      }
    }

  }

  .searchbar-md .searchbar-input::-webkit-input-placeholder {
    color: yellow
  }
  .error-item {
    margin-top: 100px !important;
  }

  #map {
    height: calc(100vh - 45px);
    width: 100vw;
    position: initial !important;
  }
  //.toolbar .searchbar-ios .searchbar-input {
  //  background: #f4f4f4 !important;
  //}

  .button-group {
    ion-badge {
      top: -7px;
      position: absolute;
      left: 10px;
      border-radius: 15px;
    }
    ion-icon {
      font-size: 2.2em;
    }
  }

  .large-menu {
    ion-icon {
      font-size: 5rem;
      font-weight: bold;
      top: -7px;
      position: relative;
    }
  }

  .large-compass{
    position: absolute;
    right: 20px;
    top: 80px;
    border-radius: 25px;
  }

  ion-navbar.toolbar.toolbar-ios.statusbar-padding {
    margin: 5%;
    width: 90%;
  }
}
