page-home {
  #map {
    height: calc(100vh - 45px);
    width: 100vw;
  }
  .toolbar .searchbar-ios .searchbar-input {
    background: #f4f4f4 !important;
  }

  .button-group {
    ion-badge {
      top: -7px;
      position: absolute;
      left: 10px;
      border-radius: 15px;
    }
    ion-icon {
      font-size: 2.2em;
    }
  }
}
