page-how-to-promotions {
  ion-header > ion-navbar.toolbar.statusbar-padding {
    padding-top: 0 !important;
  }
  .title-img {
    width: auto;
    height: 80px;
  }
  .p-title {
    font-weight: 500;
    font-style: italic;
    font-size: 2.0rem;
    color: #424242;
  }
  .span-liberi {
    font-family: Expansiva;
    font-style: italic;
  }

  .p-text {
    font-size: 1.6rem;
  }

  .p-text-sm {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: 767px) {
    ion-header > ion-navbar.toolbar.statusbar-padding  {
      padding-top: 0 !important;
    }
  }
}
