<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="liberi">PROMOCIONES</ion-title>
  </ion-navbar>
  <navbar-bump></navbar-bump>
</ion-header>

<ion-content>
  <div class="liberi-divider"></div>
  <ion-grid>
    <ion-row padding align-items-center>
      <ion-col col-8>
        <p class="p-title">¿Te gustaría tener visitas gratis?</p> 
      </ion-col>
      <ion-col col-4 text-center>
        <img src="assets/img/Recurso 208xxxhdpi.png" class="title-img" alt="">
      </ion-col>
    </ion-row>
    <ion-row padding align-items-center>
      <ion-col col-12 class="p-text">
        Recibe una visita de regalo en el mismo CAF (Centro de Acondicionamiento Físico) donde realizaste tu primera compra cómo agradecimiento
        de parte del equipo <span class="span-liberi">LI<b>BE</b>RI</span> por haber utilizado por primera vez la apliación.
      </ion-col>
      <ion-col col-12 text-center padding-vertical class="p-text">
        ¡Vuelve a ejercitarte GRATIS!
      </ion-col>
      <ion-col col-12 text-center padding-vertical class="p-text">
        <a (click)="showHowTo('free')">¿Cómo funciona la visita gratis?</a>
      </ion-col>
      <ion-col col-12 text-center padding-top class="p-text-sm">
        ¡No olvides invitar a tus amigos!
      </ion-col>
      <ion-col col-12 padding-bottom text-center>
        <button ion-button block class="button-gray-gradient" [disabled]="free" (click)="invite()">INVITAR AMIGOS</button>
        <p *ngIf="free" class="p-red">Acumula <b>2</b> visitas mas en <b>SNAP FITNESS LA RIOJA</b> para activar esta promoción</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="liberi-divider"></div>
  <ion-grid>
    <ion-row padding align-items-center>
      <ion-col col-8>
        <p class="p-title">¡Regala una visita a un amigo!</p> 
      </ion-col>
      <ion-col col-4 text-center>
        <img src="assets/img/Recurso 207xxxhdpi.png" class="title-img" alt="">
      </ion-col>
    </ion-row>
    <ion-row padding align-items-center>
      <ion-col col-12 class="p-text">
        Los usuarios activos de la aplicación pueden invitar a sus amigos a usar <span class="span-liberi">LI<b>BE</b>RI</span>
        de manera gratuita por primera vez después de haber acumulado 6 visitas pagadas en el mismo CAF (Centro de Acondicionamiento Físico).
      </ion-col>
      <ion-col col-12 text-center padding-vertical class="p-text">
        ¡Ayuda a tus amigos a ejercitarse GRATIS!
      </ion-col>
      <ion-col col-12 text-center padding-vertical class="p-text">
        <a (click)="showHowTo('gift')">¿Cómo funciona la visita de regalo?</a>
      </ion-col>
      <ion-col col-12 padding-vertical text-center>
        <h2>REGALAR VISITAS EN:</h2>
        <button (click)="give(v)" *ngFor="let v of groupedScans" [disabled]="shouldBeDisabled(v)" ion-button block class="button-gray-gradient">
          {{v[0].gym.commercial_name || v[0].gym.tradename}} <span *ngIf="shouldBeDisabled(v)"> (Usado)</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="liberi-divider"></div>
</ion-content>

<ion-footer no-shadow>
    <div class="liberi-logo-line"></div>
    <ion-toolbar position="bottom"></ion-toolbar>
</ion-footer>
