// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/animations";

@font-face {
  font-family: Expansiva;
  src: url("../assets/font/Expansiva.otf");
}

//Align title to the center
ion-title {
  position: absolute;
  top: -9px !important;
  left: 0;
  padding: 5px 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toolbar-title {
  font-family: Expansiva;
}

.menu-img-icon {
  width: 22px;
}

//Custom switch theme
.md {
  .toggle-checked .toggle-icon {
    background: #2ec95c !important;
    .toggle-inner {
      background: map_get($colors, primary);
    }
  }

  .toggle-icon {
    background: #fdb24d !important;
    .toggle-inner {
      //background: #848484;
    }
  }
}

.ios {
  .toggle-checked .toggle-icon {
    background: #2ec95c !important;
    .toggle-inner {
      background: map_get($colors, primary);
    }
  }
  .toggle-icon {
    background: #fdb24d;
  }
  .toggle-icon::before {
    background: #fdb24d;
  }

}

.submenu-option {
  position: relative;
  top: -5px;
  padding-left: 28px;
}

.loading-image {
  position: initial;
  margin: 0 27px;
  width: 123px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;

  animation-duration: 1s;
  animation-name: movement;
  animation-iteration-count: infinite;
}

.no-spinner-background {
  .loading-wrapper {
    background: none !important;
    box-shadow: none !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.avatar-item {
  background: #383838;
  color: #fff;
  padding: 15px 16px;
  margin-bottom: 5px;
  border: none;
  .item-inner {
    border: none !important;
  }
}

.list-item {
  background: #e6e6e6;
  margin-bottom: 5px;
  .item-inner {
    border: none !important;
  }
}

.active-highlight {
  background: #bfbfbf;
}

.invalid {
  border: 1px solid transparent !important;
  border-bottom: 2px solid map_get($colors, danger) !important;
}

.valid {
  border: 1px solid transparent !important;
  border-bottom: 2px solid map_get($colors, primary) !important;
}

.error-message {
  font-size: 0.8em;
  color: map_get($colors, danger) !important;
}

.optional-input-label {
  color: rgba(31, 85, 41, 0.52);
  font-size: 12px;
  font-weight: bold;
}

//Enable custom validation class on inputs
form {
  ion-item {
    ion-input, ion-textarea, ion-select, ion-datetime {
      border-bottom: 1px solid #bfbfbf !important;
    }
    .item-inner {
      border: 1px solid transparent !important;
    }
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-md .item-input:last-child {
    border-bottom: 1px solid transparent !important;
  }
}

.cancel-button {
  color: map_get($colors, danger) !important;
  &.action-sheet-button-md {
    font-weight: bold;
  }
}

.green-txt {
  color: #429a5c;
}

.red-txt {
  color: red;
}


/* ITEM WHITE BACKGROUND ON LOGIN AND SIGNUP PAGE*/
page-signup, page-login {
  ion-item {
    background: white !important;
  }
}

page-login {
  form ion-item ion-input, form ion-item ion-textarea, form ion-item ion-select, form ion-item ion-datetime {
    border-bottom: transparent !important;
  }
}

ion-popover {
  .item {
    background: white !important;
  }
  .popover-arrow::after {
    background-color: white !important;
  }
}

.picker-wrapper, .picker-toolbar, .picker-columns, .picker-col {
  background: white !important;
}

.picker-above-highlight {
  background: linear-gradient(to bottom, white 20%, rgba(255, 254, 255, 0.7) 100%) !important;
}

.picker-below-highlight {
  background: linear-gradient(to bottom, rgba(255, 254, 255, 0.7) 100%, white 20%) !important;
}

@import "../assets/sass/screen-sizes";

/*
* ======================>
*  hacks FORMS
* ++++++++++++++++++++++
*/
.ion-page > ion-content.liberi {
  background-color: #E5E5E5;
}

ion-title.liberi {
  padding: 5px 60px 1px;
}
iont-title > .toolbar-title {
  overflow: initial;
}

input.liberiText, select.liberiText, ion-datetime.liberi, ion-multi-picker.liberi {
  background-color: #CECECE;
  width: 100%;
  height: 35px;
  text-align: center;
  /* font-size: 1.4rem; */
  border: 1px solid #c5c5c5;
  font-size: medium;
  font-style: italic;
  border-radius: 5px;
  margin-bottom: 25px;
}
img.liberi {
  max-width: 26px;
  max-height: 26px;
}

.add-picture-image > img {
  max-width: 75px;
}
p.liberiText {
  font-size: medium;
  text-align: center;
  font-style: italic;
}

ion-toolbar > .toolbar-background {
  background-image: url("../assets/img/Recurso\ 193xxxhdpi.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

ion-footer > div > button.liberi {
  position: relative;
  left: -50%;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 50px;
  height: 50px;
}
ion-footer > div {
  position: absolute;
  z-index: 100000;
  top: -50%;
  left: 50%;
}

ion-footer > div > button img {
  max-width: 50px;
  max-height: 50px; 
}
/*
* ++++++++++++++++++++++
*  end hacks FORMS
* ======================|
*/