// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/animations";

@font-face {
  font-family: Expansiva;
  src: url("../assets/font/Expansiva.otf");
}

//Align title to the center
ion-title {
  position: absolute;
  top: -10px !important;
  left: 0;
  padding: 5px 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toolbar-title {
  font-family: Expansiva;
}

.menu-img-icon {
  width: 22px;
}

//Custom switch theme
.md {
  .toggle-checked .toggle-icon {
    background: #2ec95c !important;
    .toggle-inner {
      background: map_get($colors, primary);
    }
  }

  .toggle-icon {
    background: #fdb24d !important;
    .toggle-inner {
      //background: #848484;
    }
  }
}

.ios {
  .toggle-checked .toggle-icon {
    background: #2ec95c !important;
    .toggle-inner {
      background: map_get($colors, primary);
    }
  }
  .toggle-icon {
    background: #fdb24d;
  }
  .toggle-icon::before {
    background: #fdb24d;
  }

}

.submenu-option {
  position: relative;
  top: -5px;
  padding-left: 28px;
}

.loading-image {
  position: initial;
  margin: 0 27px;
  width: 123px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;

  animation-duration: 1s;
  animation-name: movement;
  animation-iteration-count: infinite;
}

.no-spinner-background {
  .loading-wrapper {
    background: none !important;
    box-shadow: none !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.avatar-item {
  background: #383838;
  color: #fff;
  padding: 15px 16px;
  margin-bottom: 5px;
  border: none;
  .item-inner {
    border: none !important;
  }
}

.list-item {
  background: #e6e6e6;
  margin-bottom: 5px;
  .item-inner {
    border: none !important;
  }
}

.active-highlight {
  background: #bfbfbf;
}

.invalid {
  border: 1px solid transparent !important;
  border-bottom: 2px solid map_get($colors, danger) !important;
}

.valid {
  border: 1px solid transparent !important;
  border-bottom: 2px solid map_get($colors, primary) !important;
}

.error-message {
  font-size: 0.8em;
  color: map_get($colors, danger) !important;
}

.optional-input-label {
  color: rgba(31, 85, 41, 0.52);
  font-size: 12px;
  font-weight: bold;
}

//Enable custom validation class on inputs
form {
  ion-item {
    ion-input, ion-textarea, ion-select, ion-datetime {
      border-bottom: 1px solid #bfbfbf !important;
    }
    .item-inner {
      border: 1px solid transparent !important;
    }
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-md .item-input:last-child {
    border-bottom: 1px solid transparent !important;
  }
}

.cancel-button {
  color: map_get($colors, danger) !important;
  &.action-sheet-button-md {
    font-weight: bold;
  }
}

.green-txt {
  color: #429a5c;
}

.red-txt {
  color: red;
}


/* ITEM WHITE BACKGROUND ON LOGIN AND SIGNUP PAGE*/
page-signup, page-login {
  ion-item {
    background: white !important;
  }
}

page-login {
  form ion-item ion-input, form ion-item ion-textarea, form ion-item ion-select, form ion-item ion-datetime {
    border-bottom: transparent !important;
  }
}

ion-popover {
  .item {
    background: white !important;
  }
  .popover-arrow::after {
    background-color: white !important;
  }
}

.picker-wrapper, .picker-toolbar, .picker-columns, .picker-col {
  background: white !important;
}

.picker-above-highlight {
  background: linear-gradient(to bottom, white 20%, rgba(255, 254, 255, 0.7) 100%) !important;
}

.picker-below-highlight {
  background: linear-gradient(to bottom, rgba(255, 254, 255, 0.7) 100%, white 20%) !important;
}

@import "../assets/sass/screen-sizes";

/*
* ======================>
*  hacks FORMS
* ++++++++++++++++++++++
*/
.ion-page > ion-content.liberi {
  background-color: #E5E5E5;
}

ion-title.liberi {
  padding: 20px 60px 1px;
  padding-top: 3rem !important;
}
ion-title.liberi > .toolbar-title {
  overflow: initial;
  font-size: 1.4rem;
  font-weight: 700;
}

input.liberi-text, select.liberi-text, ion-datetime.liberi, ion-multi-picker.liberi {
  background-color: #CECECE;
  width: 100%;
  height: 35px;
  text-align: center;
  /* font-size: 1.4rem; */
  border: 1px solid #c5c5c5;
  font-size: medium;
  font-style: italic;
  border-radius: 5px;
  margin-bottom: 25px;
}
img.liberi {
  max-width: 26px;
  max-height: 26px;
}

.add-picture-image > img {
  max-width: 75px;
}
p.liberi-title {
  font-size: large;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
}
p.liberi-text {
  font-size: medium;
  text-align: center;
  font-style: italic;
}
div.liberi-logo-line {
  background: rgba(179,179,179,1);
  background: -moz-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(179,179,179,1) 30%, rgba(230,230,230,1) 50%, rgba(179,179,179,1) 70%, rgba(179,179,179,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(30%, rgba(179,179,179,1)), color-stop(50%, rgba(230,230,230,1)), color-stop(70%, rgba(179,179,179,1)), color-stop(100%, rgba(179,179,179,1)));
  background: -webkit-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(179,179,179,1) 30%, rgba(230,230,230,1) 50%, rgba(179,179,179,1) 70%, rgba(179,179,179,1) 100%);
  background: -o-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(179,179,179,1) 30%, rgba(230,230,230,1) 50%, rgba(179,179,179,1) 70%, rgba(179,179,179,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(179,179,179,1) 30%, rgba(230,230,230,1) 50%, rgba(179,179,179,1) 70%, rgba(179,179,179,1) 100%);
  background: linear-gradient(to right, rgba(179,179,179,1) 0%, rgba(179,179,179,1) 30%, rgba(230,230,230,1) 50%, rgba(179,179,179,1) 70%, rgba(179,179,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#b3b3b3', GradientType=1 );
  width: 100%;
  height: 3px;
}
ion-toolbar > .toolbar-background {
  background: #e6e6e6;
  background-image: url("../assets/img/Recurso\ 193_1xxxhdpi.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

ion-footer > div.action > button.liberi {
  position: relative;
  left: -50%;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 50px;
  height: 50px;
}
ion-footer > div.action {
  position: absolute;
  z-index: 100000;
  top: -50%;
  left: 50%;
}
ion-footer > div.action > button img {
  max-width: 48px;
  max-height: 48px;
}

div.liberi-divider {
  padding: 5px;
  background-color: #cfcfcf;
  box-shadow: inset 0px 1px 4px #868686;
}
/*
* ++++++++++++++++++++++
*  end hacks FORMS
* ======================|
*/

/*
* PREFERENCES CHECKBOX
*/
img.circle {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gcRDjUjxxViDQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGTSURBVEjHvZYxSwNBEIXfnqCd2FtpLUgQo5VgISIWWgpa2EpAFFSwjhYB/4G9VoIWgo1Ya8TCRiQkAYs0IihqoUn4bO5gWe6SI1nz4DhudvZ9zLK3O1IKAevABVAFvoFm+HwBZeAMWFW3Ao6AV9KrBhx0ApoHKnSuJ2A2LWw3XK5u1QRy7WA7LQyugRyQAQYBE74zYfw6Yd5GEmwuobIbYCbl6syE+bYasfOBUgys0OFmKzg+j27CYQws3+UOzzt++/ZgzRm8kAeF/26kahRcialuzBNwzPFdEnDiBE/lUcCp5X0cSBp3cs7lV7bfhIAPp8IRzxWOWN5vBmhI6rNyBowxvx6B/ZJ+ws9moB4rkPTpxIY9M2y/90DSi5OQ9Qy0/aqBpHsnYdkz0PYrCljq4Y+/GA1UenC0leyBvR4c3ltuwsM/Xk+3cUnT4WXp+wKuA9lW7aDvFmMtTQ/a8NBE1dvCLOgUcNcF7DZxGduAtxN6nSQ9A5utPE1K8IKkRUmTkkYlDUVno6SypKKkS2PMVTuvP/B0a6VsH1GUAAAAAElFTkSuQmCC');
}
img.line {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gcRDjYXzYzFewAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA3SURBVEjH7c+xDQBACEJRcf+dcQELryFXfGrCC1Xh6KVs2+uIdN7p9ENAQEBAQEBAQEDAH8B4BkGzBDSjn3Q4AAAAAElFTkSuQmCC')
}
ion-row.chk-row {
  margin-bottom: 4px;
  margin-left: 8%;
}
input.liberi-checkbox {
  position: relative;
  margin: 0;
  border: 1px solid #1f4487;
  border-radius: 20px;
  background: #ffd50f;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

input.liberi-checkbox::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc((100%) / 2);
  height: calc(100%);
  border-radius: 50%;
  background: #5f5f5f;
  transition: all .1s linear;
}
input.liberi-checkbox:checked::after {
  background: #1f4487;
  border: 1px solid white;
  width: calc((100% - 2) / 2);
  height: calc(100% - 2);
  top: -1px;
  left: -1px;
}

input.liberi-checkbox:checked {
  background: #5b5;
}

input.liberi-checkbox:checked::after {
  transform: translateX(100%);
}

input.liberi-checkbox { width: 28px; height: 16px; }

label.liberi-checkbox-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b4b4b;
  max-width: 120px;
  margin-left: 10px;
}
/* end CHECKBOX PREFERENCES*/

/**
* HELPERS
*/
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.no-v-margin { margin-top: 0 !important; margin-bottom: 0 !important; }
.no-h-margin { margin-left: 0 !important; margin-right: 0 !important; }
.no-v-padding { padding-top: 0 !important; padding-bottom: 0 !important; }
.no-h-padding { padding-left: 0 !important; padding-right: 0 !important; }
.center-v { align-items: center };
.center-vertical-input { display: flex; align-items: center; }
.overflow-ellipsis { overflow: hidden; text-overflow: ellipsis; }
.nowrap { white-space: nowrap; }
/* END HELPERS*/

/*
* SLIDER
*/
.range-slider .range-bar:nth-child(2) {
  border: none;
}
ion-range.range-has-pin {
  padding-top: 0 !important;
}
.range-slider div.range-bar {
  left: 0;
  top: 12px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #1f4487;
}
.range-ios .range-knob-handle .range-knob { // Special color ios
  background: #1f4487;
  left: 11px;
  top: 12px;
  width: 20px;
  height: 20px;
}
.range-knob-handle .range-knob {
  border: 1px solid white;
  left: 8px;
  top: 8px;
  width: 28px;
  height: 28px;
}
.rate-stars.small {
  font-size: .6em;
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 0px;
}
page-purchase-history .gym-list .comments-section .comments-section-item {
  position: relative;
}
.reviewTextArea {
  width: 100%;
  padding: 5px;
}
/*
.range-knob-handle .range-pin::before {
    top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-left: 4px solid #1f4487;
    border-bottom: 4px solid #1f4487;
}
*/
/* END SLIDER*/

/* STYLED GRAY BUTTON
*/
.button-gray-gradient {
  color: map_get($colors, primary);
  font-weight: 500;
  border: 1px solid gray;
  margin: 0;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afafaf+0,e0e0e0+40,efefef+50,e0e0e0+60,e0e0e0+60,bababa+100 */
  background: #afafaf; /* Old browsers */
  background: -moz-linear-gradient(top, #afafaf 0%, #e0e0e0 40%, #efefef 50%, #e0e0e0 60%, #e0e0e0 60%, #bababa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #afafaf 0%,#e0e0e0 40%,#efefef 50%,#e0e0e0 60%,#e0e0e0 60%,#bababa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #afafaf 0%,#e0e0e0 40%,#efefef 50%,#e0e0e0 60%,#e0e0e0 60%,#bababa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */

  :active {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfbfbf+0,e8e8e8+40,f4f4f4+50,ededed+60,cccccc+100 */
      background: #bfbfbf; /* Old browsers */
      background: -moz-linear-gradient(top, #bfbfbf 0%, #e8e8e8 40%, #f4f4f4 50%, #ededed 60%, #cccccc 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #bfbfbf 0%,#e8e8e8 40%,#f4f4f4 50%,#ededed 60%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #bfbfbf 0%,#e8e8e8 40%,#f4f4f4 50%,#ededed 60%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  }
  :disabled {
      background: transparent;
      color: gray;
  }
}
/* END STYLED GRAY BUTTON*/

ion-navbar.toolbar.statusbar-padding {
  padding-top: 0 !important;
}

/* problema con menu ios */
.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
  padding-top: 0;
}

ion-icon.icon.icon-ios.ion-ios-arrow-back,
ion-icon.icon.icon-md.ion-md-arrow-back {
  font-size: 1.8em;
}
.img60 {
  width: 60px !important;
  height: 60px !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pato0 {
  padding-top: 0px !important;
}
img.avatarBase64 {
  object-fit: cover !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
}
.defaultCardStar {
  display: inline-block;
  width: 20px;
  vertical-align: top;
}
.back-button.show-back-button{
  z-index: 10;
}
.alert-wrapper{
  background-color: rgba(0,0,0,0.3) !important;
  color: #ffffff;
  min-width: 80%;
}
.alert-wrapper .alert-sub-title{
  color: #ffffff;
  font-size: 16px;
}
.alert-wrapper .alert-button{
  color: #ffffff;
}
.alert-wrapper .alert-title{
  font-size: 20px;
}
.terms-link{
  margin-left: 5rem;
  font-size: 1.4rem;
  text-decoration: underline;
}
ion-backdrop {
  opacity: 0 !important;
}
.toolbar-md, ion-navbar.toolbar.statusbar-padding{
  min-height: 60px !important;
  padding-top: 1rem !important;
}
navbar-bump .logo-bump{
  padding: 10px 10px 3px !important;
}
navbar-bump{
  top: 75% !important;
}
.login-container{
  margin-top: 20px !important;
}
/*.bar-button-menutoggle-md{
  padding-top: 1rem;
}
.bar-button-menutoggle-ios{
  padding-top: 1rem;
}*/
