<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item class="avatar-item">
        <ion-avatar item-start>
          <!--<img class="img60" [style.background-image]="'/assets/img/logo-negative.png'" *ngIf="!sharedService.UserData?.profile_picture">-->
          <img *ngIf="user && user.profile_picture" class="avatarBase64" [src]="user.profile_picture">
        </ion-avatar>
        <h2 *ngIf="user"> {{user.name + ' '+ user.last_name}}</h2>
      </ion-item>
      <div *ngFor="let p of pages; let i  = index">
        <!--<ion-item menuClose [class.active-highlight]="checkActivePage(p)" class="list-item" *ngIf="shouldShow(p)" [class.submenu-option]="i===2" (click)="openPage(p)">-->
        <ion-item menuClose [class.active-highlight]="checkActivePage(p)" class="list-item" *ngIf="shouldShow(p)" (click)="openPage(p)">
          <img [src]="'assets/img/menu/' + p.icon" item-start class="menu-img-icon">
          <span>{{p.title}}</span>
          <ion-badge *ngIf="p.component === 'NotificationsPage' && notNumber" item-end>{{notNumber}}</ion-badge>
          <!--<ion-icon *ngIf="i === 1" name="{{showCardItem? 'ios-arrow-down': 'ios-arrow-back'}}" item-end (click)="toggleCardItem($event)"></ion-icon>-->
        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
