page-welcome {
  img {
    height: 100vh;
    width: 100vw;
  }

  .text-container {
    font-family: Expansiva;
    color: map_get($colors, primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-weight: bolder !important;
    display: inline-grid;
    font-size: x-large;
    span {
      margin-bottom: 20px;
    }
  }
}
