<ion-header>
  <ion-navbar>
    <ion-title class="liberi">NOTIFICACIONES</ion-title>
    <button ion-button menuToggle="left" *ngIf="!isModal">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-buttons *ngIf="isModal">
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <navbar-bump></navbar-bump>
</ion-header>
<ion-content>
  <ion-list padding-top>
    <button ion-item detail-none no-lines *ngFor="let g of items">
      <ion-avatar item-start>
        <img [src]="g.img">
      </ion-avatar>
      <h2>{{g.gymName}}</h2>
      <p>{{g.message}}</p>
    </button>
  </ion-list>
</ion-content>
