<ion-header>
  <ion-navbar>
    <ion-title class="liberi">PREFERENCIAS</ion-title>
    <button ion-button menuToggle="left" *ngIf="!isModal">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-buttons *ngIf="isModal">
      <button ion-button (click)="dismiss()" class="buttonLittleRight">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <navbar-bump></navbar-bump>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
          <p class="liberi-title">Filtrar por...</p>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-aerobico" class="liberi-checkbox" [(ngModel)]="preferences[1].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-aerobico" class="liberi-checkbox-label">Aeróbico</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-pesas" class="liberi-checkbox" [(ngModel)]="preferences[0].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-pesas" class="liberi-checkbox-label">Pesas</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-crossfit" class="liberi-checkbox" [(ngModel)]="preferences[2].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-crossfit" class="liberi-checkbox-label">Crossfit</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-zumba" class="liberi-checkbox" [(ngModel)]="preferences[3].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-zumba" class="liberi-checkbox-label">Zumba</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-ritmos" class="liberi-checkbox" [(ngModel)]="preferences[4].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-ritmos" class="liberi-checkbox-label">Ritmos latinos</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-danza" class="liberi-checkbox" [(ngModel)]="preferences[5].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-danza" class="liberi-checkbox-label">Danza aérea</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-pole" class="liberi-checkbox" [(ngModel)]="preferences[6].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-pole" class="liberi-checkbox-label">Pole dance</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-yoga" class="liberi-checkbox" [(ngModel)]="preferences[7].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-yoga" class="liberi-checkbox-label">Yoga</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-jumping" class="liberi-checkbox" [(ngModel)]="preferences[9].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-jumping" class="liberi-checkbox-label">Jumping fitness</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-barre" class="liberi-checkbox" [(ngModel)]="preferences[8].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-barre" class="liberi-checkbox-label">Barre</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-spinning" class="liberi-checkbox" [(ngModel)]="preferences[10].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-spinning" class="liberi-checkbox-label">Spinning</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-boxeo" class="liberi-checkbox" [(ngModel)]="preferences[11].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-boxeo" class="liberi-checkbox-label">Boxeo</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-mma" class="liberi-checkbox" [(ngModel)]="preferences[12].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-mma" class="liberi-checkbox-label">Artes marciales mix.</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-taekwondo" class="liberi-checkbox" [(ngModel)]="preferences[13].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-taekwondo" class="liberi-checkbox-label">Taekwondo</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-karate" class="liberi-checkbox" [(ngModel)]="preferences[14].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-karate" class="liberi-checkbox-label">Karate</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-natacion" class="liberi-checkbox" [(ngModel)]="preferences[15].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-natacion" class="liberi-checkbox-label">Natación</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-sauna" class="liberi-checkbox" [(ngModel)]="preferences[16].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-sauna" class="liberi-checkbox-label">Sauna</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-trx" class="liberi-checkbox" [(ngModel)]="preferences[18].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-trx" class="liberi-checkbox-label">TRX</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="chk-row">
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-funcional" class="liberi-checkbox" [(ngModel)]="preferences[17].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-funcional" class="liberi-checkbox-label">Funcional</label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 class="no-h-padding">
        <ion-row>
          <ion-col col-2 class="center-vertical-input">
            <div><input type="checkbox" id="chk-otras" class="liberi-checkbox" [(ngModel)]="preferences[19].value"></div>
          </ion-col>
          <ion-col class="overflow-ellipsis center-vertical-input">
            <label for="chk-otras" class="liberi-checkbox-label">Otras</label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="liberi-divider"></div>

  <div text-center>
    <h3>Ubicación: {{settings.location}}km</h3>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col offset-1>
        <ion-range [(ngModel)]="settings.location" pin="true" min="0" max="25" no-padding>
        </ion-range>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label range-left no-margin>0 km</ion-label>
      </ion-col>
      <ion-col col-2 offset-8>
        <ion-label range-right no-margin>25 km</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="liberi-divider"></div>
  <div text-center>
    <h3>Precio ${{settings.price | number: '1.2-2'}}</h3>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col offset-1>
        <ion-range [(ngModel)]="settings.price" pin="true" min="0" max="500" step="10" no-padding>
        </ion-range>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label range-left no-margin>$0</ion-label>
      </ion-col>
      <ion-col col-2 offset-8>
        <ion-label range-right no-margin>$500</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="liberi-divider"></div>
</ion-content>

<ion-footer no-shadow>
    <div class="liberi-logo-line"></div>
    <div class="action">
        <button ion-button color="primary" class="liberi" round (tap)="savePreferences()">
            <img src="assets/img/Recurso 135hdpi.png" alt="">
        </button>
    </div>
    <ion-toolbar position="bottom"></ion-toolbar>
</ion-footer>
