page-purchase-history {

  .toolbar-title {
    font-size: 1.3rem !important;
  }
  .gym-list {
    .gym-list-item {
      ion-avatar {
        position: static;
      }
      img {
        height: 60px;
        width: 70px;
        border-radius: 0 !important;
      }
      h3 {
        ion-icon {
          right: 0;
          position: absolute;
          top: 23px;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .gym-list-item-detail {
      background-color: white;
      .qr-code {
        height: 150px;
      }
    }

    .rate-stars {
      ion-icon {
        font-size: 2em;
        &[name='star'] {
          color: map_get($colors, primary);
        }

      }
    }
    .comments-section {
      .comments-section-item {
        background: white;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 10px;
        ion-icon {
          padding-right: 10px;
        }
        ion-avatar {
          display: -webkit-box;
          margin-bottom: 0;
        }
      }
    }
    .comments-section {
      .comments-section-item {
        background: white;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 10px;
        ion-icon {
          padding-right: 10px;
        }
        ion-avatar {
          display: -webkit-box;
          margin-bottom: 0;
        }
      }
    }
  }



  .img-loaded + ion-spinner {
    display:none;
  }
  // .center in my case to make the spinner at the center
  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .bg-white{
    background-color: #ffffff;
  }
  .pad-10{
    padding: 10px;
  }
  .tradename{
    padding-top: 5%;
    font-size: 2.5rem;
  }

}
