<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="liberi">HISTORIAL DE COMPRAS</ion-title>
  </ion-navbar>
  <navbar-bump></navbar-bump>
</ion-header>


<ion-content>
  <br />
  <ion-list class="gym-list">
    <div *ngIf="!history.length">
      <ion-item text-center text-wrap text-uppercase>No tienes historial para mostrar</ion-item>
    </div>
    <div *ngIf="history.length">
      <div *ngFor="let i of history; let indx = index" id="gymPurchaseCode_{{i.purchase_code}}">
        <button ion-item detail-none class="gym-list-item" (click)="i.isOpen = !i.isOpen">
          <ion-row>
          <ion-avatar item-start>
            <img [src]="i.logo || 'https://seeklogo.com/images/G/gym-logo-3F51052256-seeklogo.com.png'">
          </ion-avatar>
          <h2 class="tradename">{{i.tradename}}</h2>
          <h3>
            <ion-icon [name]="!i.isOpen ? 'arrow-forward' : 'arrow-down'" item-right></ion-icon>
          </h3>
          </ion-row>
        </button>
        <ion-row class="bg-white pad-10">
          <ion-col col-9>
            <p>{{i.purchase_date | date:'fullDate'}}</p>
          </ion-col>
          <ion-col col-3 class="center-vertical-input">
            <b>${{i.purchase_price}} MXN</b>
          </ion-col>
        </ion-row>
        <section *ngIf="i.isOpen">
          <ion-item class="gym-list-item-detail">
            <hr>
            <h3 text-right>Estado: <span ion-text [color]="i.status === 'available'? 'secondary':'danger'">{{i.status === 'available'? 'Vigente': 'Usado'}}</span></h3>
            <h3>{{i.address_street}} #{{i.address_number}}</h3>
            <h3>{{i.address_neighborhood}}</h3>
            <h3>{{i.address_city}}, {{i.address_state}}. C.P. {{i.address_zipcode}}</h3>
            <h3>Horario: {{i.attention_hours}}</h3>
            <h1 text-center ion-text [color]="i.openToday? 'secondary':'danger'">{{i.openToday ? '¡Abierto Ahora!': 'Cerrado'}}</h1>
            <div text-center>
              <img [src]="'https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=' + i.purchase_code" (load)="i.imageLoaded = true"   class="qr-code" [ngClass]="{'img-loaded':i.imageLoaded}" [hidden]="!i.imageLoaded"/>
              <ion-spinner [ngClass]="{'center':true}" *ngIf="!i.imageLoaded"></ion-spinner>
              <br/>
              <b>{{i.purchase_code}}</b>
              <br>
              <button ion-button (tap)="navigate(i)">
                Ir al Gym&nbsp; <ion-icon name="navigate"></ion-icon>
              </button>
              <h4 *ngIf="i.status === 'available'">¡Usa este código para calificar el CAF!</h4>
            </div>
          </ion-item>
          <ion-item>
            <div id="myReview" *ngIf="!i.reviewDone && i.status !== 'available'">
              <h2 text-center><b>Tu calificación</b></h2>
              <div text-center class="rate-stars">
                <ion-icon (click)="i.myRate = 1" name="{{getStarName(1, i)}}"></ion-icon>
                <ion-icon (click)="i.myRate = 2" name="{{getStarName(2, i)}}"></ion-icon>
                <ion-icon (click)="i.myRate = 3" name="{{getStarName(3, i)}}"></ion-icon>
                <ion-icon (click)="i.myRate = 4" name="{{getStarName(4, i)}}"></ion-icon>
                <ion-icon (click)="i.myRate = 5" name="{{getStarName(5, i)}}"></ion-icon>
              </div>
              <div>
                <textarea class="reviewTextArea" [(ngModel)]="i.myMessage" placeholder="Qué te pareció?"></textarea>
                <button ion-button full (click)="setReview(i)">Enviar</button>
              </div>
            </div>
            <br>
            <div *ngIf="!i.reviews">
              <h2 text-center><b>Aun no hay comentarios para este Gym</b></h2>
            </div>
            <div *ngIf="i.reviews">
              <h2 text-center><b>Comentarios</b></h2>
              <div class="comments-section">
                <div class="comments-section-item" *ngFor="let r of i.reviews">
                  <ion-avatar item-start>
                    <ion-icon name="quote"></ion-icon>
                    <div>
                      <p text-wrap>{{r.message}}</p>
                      <small>{{r.timestamp | date}}</small>
                    </div>
                    <div class="rate-stars small">
                      <ion-icon name="{{getStarNameReview(1, r.rating)}}"></ion-icon>
                      <ion-icon name="{{getStarNameReview(2, r.rating)}}"></ion-icon>
                      <ion-icon name="{{getStarNameReview(3, r.rating)}}"></ion-icon>
                      <ion-icon name="{{getStarNameReview(4, r.rating)}}"></ion-icon>
                      <ion-icon name="{{getStarNameReview(5, r.rating)}}"></ion-icon>
                    </div>
                  </ion-avatar>
                </div>
              </div>
            </div>
          </ion-item>
        </section>
      </div>
    </div>

  </ion-list>
</ion-content>
<ion-footer no-shadow>
    <div class="liberi-logo-line"></div>
    <ion-toolbar position="bottom"></ion-toolbar>
</ion-footer>
