<ion-header>

    <ion-navbar>
        <button ion-button menuToggle="left">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-title>HISTORIAL DE COMPRAS</ion-title>
    </ion-navbar>
    <navbar-bump></navbar-bump>
</ion-header>


<ion-content>
    <ion-list class="gym-list">
        <div *ngFor="let i of items">
            <button ion-item detail-none class="gym-list-item" (click)="toggleGymView(i)">
                <ion-avatar item-start>
                    <img [src]="i.avatar">
                </ion-avatar>
                <h2>{{i.name}}</h2>
                <h3>
                    <b>${{i.price}} MXN</b>
                    <ion-icon [name]="!i.isOpen ? 'arrow-forward' : 'arrow-down'" item-right></ion-icon>
                </h3>
                <p>{{i.date}}</p>
            </button>
            <section *ngIf="i.isOpen">
                <ion-item class="gym-list-item-detail">
                    <hr>
                    <h3 text-right>Estado: <span class="green-txt">Vigente</span></h3>
                    <h3>Av. Ávila Camacho #4302</h3>
                    <h3>Col. Providencia</h3>
                    <h3>Guadalajara, Jal C.P. 44560</h3>
                    <h3>Horario: L-V 6 A.M. 10 P.M</h3>
                    <h1 text-center class="green-txt">¡Abierto Ahora!</h1>
                    <div text-center>
                        <img src="assets/img/example/qr.jpg" class="qr-code">
                    </div>
                </ion-item>
                <ion-item>
                    <h2 text-center><b>Tu calificación</b></h2>
                    <div text-center class="rate-stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>
                    <br>
                    <h2 text-center><b>Comentarios</b></h2>
                    <div class="comments-section">
                        <div class="comments-section-item">
                            <ion-avatar item-start>
                                <ion-icon name="quote"></ion-icon>
                                <p text-wrap>Buenas instalaciones</p>
                            </ion-avatar>
                        </div>
                        <div class="comments-section-item">
                            <ion-avatar item-start>
                                <ion-icon name="quote"></ion-icon>
                                <p text-wrap>Excelente ubicacion</p>
                            </ion-avatar>
                        </div>
                        <div class="comments-section-item">
                            <ion-avatar item-start>
                                <ion-icon name="quote"></ion-icon>
                                <p text-wrap>Buena musica, parecia antro</p>
                            </ion-avatar>
                        </div>
                    </div>
                </ion-item>
            </section>

        </div>
    </ion-list>
</ion-content>
<ion-footer text-center>
    <img src="assets/img/logo-text.png">
</ion-footer>