<ion-header>

    <ion-navbar>
        <ion-title>REGISTRO</ion-title>
    </ion-navbar>
    <navbar-bump></navbar-bump>
</ion-header>


<ion-content padding>
    <br>
    <ion-slides paginationType="progress" pager>
        <ion-slide>
            <form [formGroup]="RegisterForm1">

                <br/>
                <ion-list-header text-wrap text-center class="title-border-bottom">Información Personal</ion-list-header>
                <ion-item>
                    <ion-label floating color="primary">Nombre</ion-label>
                    <ion-input type="text" formControlName="name" [(ngModel)]="RegisterFormData.name"
                               [class.invalid]="!RegisterForm1.controls.name.valid && (RegisterForm1.controls.name.dirty || submitAttemptForm1)"
                               [class.valid]="RegisterForm1.controls.name.valid"></ion-input>
                    <ion-icon item-end name="person" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.name.valid  && (RegisterForm1.controls.name.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa un nombre válido</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Apellido Paterno</ion-label>
                    <ion-input type="text" formControlName="middle_name" [(ngModel)]="RegisterFormData.middle_name"
                               [class.invalid]="!RegisterForm1.controls.middle_name.valid && (RegisterForm1.controls.middle_name.dirty || submitAttemptForm1)"
                               [class.valid]="RegisterForm1.controls.middle_name.valid"></ion-input>
                    <ion-icon item-end name="person" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.middle_name.valid  && (RegisterForm1.controls.middle_name.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa un apellido válido</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Apellido Materno</ion-label>
                    <ion-input type="text" formControlName="last_name" [(ngModel)]="RegisterFormData.last_name"
                               [class.invalid]="!RegisterForm1.controls.last_name.valid && (RegisterForm1.controls.last_name.dirty || submitAttemptForm1)"
                               [class.valid]="RegisterForm1.controls.last_name.valid"></ion-input>
                    <ion-icon item-end name="person" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.last_name.valid  && (RegisterForm1.controls.last_name.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa un apellido válido</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Fecha de Nacimiento</ion-label>
                    <ion-datetime
                            displayFormat="DD/MMMM/YYYY"
                            formControlName="birthday"
                            cancelText="Cancelar"
                            doneText="Seleccionar"
                            [(ngModel)]="RegisterFormData.birthday.text"
                            [class.invalid]="!RegisterForm1.controls.birthday.valid && (RegisterForm1.controls.birthday.dirty || submitAttemptForm1)"
                            [class.valid]="RegisterForm1.controls.birthday.valid"></ion-datetime>
                    <ion-icon item-end name="md-calendar" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.birthday.valid  && (RegisterForm1.controls.birthday.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa ingresa tu Fecha de Nacimiento</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Sexo</ion-label>
                    <ion-select interface="popover" formControlName="gender" [(ngModel)]="RegisterFormData.gender"
                                [class.invalid]="!RegisterForm1.controls.gender.valid && (RegisterForm1.controls.gender.touched || submitAttemptForm1)"
                                [class.valid]="RegisterForm1.controls.gender.valid">
                        <ion-option value="female">Femenino</ion-option>
                        <ion-option value="male">Masculino</ion-option>
                    </ion-select>
                    <ion-icon item-end name="transgender" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.gender.valid  && (RegisterForm1.controls.gender.touched || submitAttemptForm1)">
                    <p class="error-message">Selecciona tu Sexo</p>
                </ion-item>


                <ion-item>
                    <ion-label floating color="primary">Teléfono Celular <span class="optional-input-label">(Diez Dígitos)</span></ion-label>
                    <ion-input type="tel" formControlName="phone" [(ngModel)]="RegisterFormData.phone"
                               [class.invalid]="!RegisterForm1.controls.phone.valid && (RegisterForm1.controls.phone.dirty || submitAttemptForm1)"
                               [class.valid]="RegisterForm1.controls.phone.valid"></ion-input>
                    <ion-icon item-end name="phone-portrait" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.phone.valid  && (RegisterForm1.controls.phone.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa un número de Teléfono válido</p>
                </ion-item>


                <ion-item>
                    <ion-label floating color="primary">Estado</ion-label>
                    <ion-select  formControlName="state" [(ngModel)]="RegisterFormData.state"
                                 [class.invalid]="!RegisterForm1.controls.state.valid && (RegisterForm1.controls.state.touched || submitAttemptForm1)"
                                 [class.valid]="RegisterForm1.controls.state.valid"
                                 (ionChange)="selectState($event)">
                        <ion-option [value]="e.nombre" *ngFor="let e of estados">{{e.nombre}}</ion-option>
                    </ion-select>
                    <ion-icon item-end name="md-map" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.state.valid  && (RegisterForm1.controls.state.dirty || submitAttemptForm1)">
                    <p class="error-message">Seleccione un estado</p>
                </ion-item>


                <ion-item>
                    <ion-label floating color="primary">Ciudad o Municipio</ion-label>
                    <ion-select  formControlName="city" [(ngModel)]="RegisterFormData.city"
                                 [class.invalid]="!RegisterForm1.controls.city.valid && (RegisterForm1.controls.city.touched || submitAttemptForm1)"
                                 [class.valid]="RegisterForm1.controls.city.valid">
                        <ion-option [value]="m" *ngFor="let m of municipios">{{m}}</ion-option>
                    </ion-select>
                    <ion-icon item-end name="md-map" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.city.valid  && (RegisterForm1.controls.city.dirty || submitAttemptForm1)">
                    <p class="error-message">Seleccione un municipio</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Código Postal</ion-label>
                    <ion-input  formControlName="postal_code" [(ngModel)]="RegisterFormData.postal_code" type="tel"
                                 [class.invalid]="!RegisterForm1.controls.postal_code.valid && (RegisterForm1.controls.postal_code.touched || submitAttemptForm1)"
                                 [class.valid]="RegisterForm1.controls.postal_code.valid">
                    </ion-input>
                    <ion-icon item-end name="keypad" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.postal_code.valid  && (RegisterForm1.controls.postal_code.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa un código postal válido</p>
                </ion-item>


                <ion-item>
                    <ion-label floating color="primary">Correo Electrónico</ion-label>
                    <ion-input type="email" formControlName="email" [(ngModel)]="RegisterFormData.email"
                               [class.invalid]="!RegisterForm1.controls.email.valid && (RegisterForm1.controls.email.dirty || submitAttemptForm1)"
                               [class.valid]="RegisterForm1.controls.email.valid"></ion-input>
                    <ion-icon item-end name="md-at" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.email.valid  && (RegisterForm1.controls.email.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa un correo eléctronico valido</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Contraseña</ion-label>
                    <ion-input type="password" formControlName="password" [(ngModel)]="RegisterFormData.password"
                               [class.invalid]="!RegisterForm1.controls.password.valid && (RegisterForm1.controls.password.dirty || submitAttemptForm1)"
                               [class.valid]="RegisterForm1.controls.password.valid"></ion-input>
                    <ion-icon item-end name="md-lock" color="primary"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!RegisterForm1.controls.password.valid  && (RegisterForm1.controls.password.dirty || submitAttemptForm1)">
                    <p class="error-message">Ingresa una contraseña válida</p>
                </ion-item>

                <ion-item>
                    <ion-label floating color="primary">Confirmar Contraseña</ion-label>
                    <ion-input type="password" formControlName="confirmPassword" [(ngModel)]="RegisterFormData.confirmPassword"  id="confirmPassword"
                               [class.invalid]="(!RegisterForm1.controls.confirmPassword.valid && (RegisterForm1.controls.confirmPassword.dirty || submitAttemptForm1)) || (RegisterForm1.controls.confirmPassword.errors?.MatchPassword && RegisterFormData.confirmPassword)"
                               [class.valid]="RegisterForm1.controls.confirmPassword.valid"></ion-input>
                    <ion-icon item-end name="md-lock" color="primary"></ion-icon>
                </ion-item>
                <!--<ion-item *ngIf="!RegisterForm1.controls.confirmPassword.valid  && (RegisterForm1.controls.confirmPassword.dirty || submitAttemptForm1)">-->
                    <!--<p class="error-message">Ingresa una contraseña válida</p>-->
                <!--</ion-item>-->
                <ion-item *ngIf="(!RegisterForm1.controls.confirmPassword.valid && (RegisterForm1.controls.confirmPassword.dirty || submitAttemptForm1)) || (RegisterForm1.controls.confirmPassword.errors?.MatchPassword && RegisterFormData.confirmPassword)">
                    <p class="error-message">La contraseña no coincide</p>
                </ion-item>


                <ion-item>
                    <div class="valid image-input-padding">
                        <label color="primary" ion-text>Foto de Perfil</label>
                        <br/>
                        <!--<button ion-button (tap)="openImageOptions()" *ngIf="!RegisterFormData.profile_picture">-->
                            <!--<ion-icon name="md-add-circle"></ion-icon>&nbsp;-->
                            <!--Agregar-->
                        <!--</button>      -->
                        <div class="add-picture-image" text-center *ngIf="!RegisterFormData.profile_picture">
                            <img src="assets/img/add-image.png" (tap)="openImageOptions()">
                        </div>
                        <div class="images-container" *ngIf="RegisterFormData.profile_picture">
                            <img [src]="RegisterFormData.profile_picture">
                            <ion-fab bottom right>
                                <button ion-fab mini color="danger" (tap)="removeImage()">
                                    <ion-icon name="trash"></ion-icon>
                                </button>
                            </ion-fab>
                        </div>
                    </div>
                    <!--<ion-icon item-end name="camera" color="primary"></ion-icon>-->
                </ion-item>
            </form>
            <br/>
            <div text-center>
                <button ion-button color="primary" round (tap)="next(1)">
                    Siguiente&nbsp;
                    <ion-icon name="md-arrow-forward"></ion-icon>
                </button>
            </div>
        </ion-slide>
        <ion-slide>
            <form [formGroup]="RegisterForm2">
                <ion-list>
                    <br/>
                    <ion-list-header text-wrap text-center class="title-border-bottom"><b>Informacion de Tarjeta</b></ion-list-header>
                    <ion-item>
                        <ion-label floating color="primary">Titular</ion-label>
                        <ion-input type="text" formControlName="card_holder" [(ngModel)]="RegisterFormData.card_holder"
                                   [class.invalid]="!RegisterForm2.controls.card_holder.valid && (RegisterForm2.controls.card_holder.dirty || submitAttemptForm2)"
                                   [class.valid]="RegisterForm2.controls.card_holder.valid"></ion-input>
                        <ion-icon item-end name="person" color="primary"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="!RegisterForm2.controls.card_holder.valid  && (RegisterForm2.controls.card_holder.dirty || submitAttemptForm2)">
                        <p class="error-message">Ingresa un titular válido</p>
                    </ion-item>

                    <ion-item>
                        <ion-label floating color="primary">Número de Tarjeta</ion-label>
                        <ion-input type="tel" formControlName="card_number" [(ngModel)]="RegisterFormData.card_number"
                                   [class.invalid]="!RegisterForm2.controls.card_number.valid && (RegisterForm2.controls.card_number.dirty || submitAttemptForm2)"
                                   [class.valid]="RegisterForm2.controls.card_number.valid"></ion-input>
                        <ion-icon item-end name="card" color="primary"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="!RegisterForm2.controls.card_number.valid  && (RegisterForm2.controls.card_number.dirty || submitAttemptForm2)">
                        <p class="error-message">Ingresa un número válido</p>
                    </ion-item>

                    <ion-item>
                        <ion-label floating color="primary">CVV</ion-label>
                        <ion-input formControlName="card_cvv" type="tel" [(ngModel)]="RegisterFormData.card_cvv"
                                      [class.invalid]="!RegisterForm2.controls.card_cvv.valid && (RegisterForm2.controls.card_cvv.dirty || submitAttemptForm2)"
                                      [class.valid]="RegisterForm2.controls.card_cvv.valid"></ion-input>
                        <ion-icon item-end name="keypad" color="primary"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="!RegisterForm2.controls.card_cvv.valid  && (RegisterForm2.controls.card_cvv.dirty || submitAttemptForm2)">
                        <p class="error-message">Ingresa un CVV válido</p>
                    </ion-item>


                    <ion-item>
                        <ion-label floating color="primary">Vigencia</ion-label>
                        <ion-multi-picker item-content formControlName="card_expiration"
                                          separator="/" [(ngModel)]="RegisterFormData.card_expiration"
                                          [class.invalid]="!RegisterForm2.controls.card_expiration.valid && (RegisterForm2.controls.card_expiration.dirty || submitAttemptForm2)"
                                          [class.valid]="RegisterForm2.controls.card_expiration.valid"
                                          [multiPickerColumns]="ccOptions" cancelText="Cancelar"
                                          doneText="Seleccionar">
                        </ion-multi-picker>
                        <ion-icon item-end name="md-calendar" color="primary"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="!RegisterForm2.controls.card_expiration.valid  && (RegisterForm2.controls.card_expiration.dirty || submitAttemptForm2)">
                        <p class="error-message">Ingresa una expiración</p>
                    </ion-item>

                    <div text-right>
                        <liberi-button name="help" (tap)="showCreditCardExample()"></liberi-button>
                    </div>

                    <img src="assets/img/credit-card-example.png" class="hidden-photo"  #ccImage/>
                </ion-list>
            </form>
            <br/>

            <ion-grid no-padding>
                <ion-row>
                    <ion-item class="terms-item">
                        <ion-label>Acepto términos condiciones</ion-label>
                        <ion-checkbox [(ngModel)]="accepted_terms"></ion-checkbox>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col col-6 text-left>
                        <button ion-button color="primary" round (tap)="prev()">
                            <ion-icon name="md-arrow-back"></ion-icon>
                            &nbsp;Atrás
                        </button>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <button ion-button color="primary" round (tap)="next(2)" [disabled]="!accepted_terms">
                            Registrarse&nbsp;
                            <ion-icon name="md-arrow-forward"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
