page-signup {

  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: map_get($colors, primary) !important;
  }

  ion-slides {
    height: inherit;
  }

  .steps-label {
    .toolbar-title {
      letter-spacing: 3px !important;
      font-size: 2.5rem !important;
    }
  }

  .image-input-padding {
    padding-bottom: 10px;
    padding-top: 16px;
  }

  .images-container {
    padding-top: 10px;
  }

  .terms-item {
    padding-bottom: 10px;
    background-color: transparent !important;
  }

  .hidden-photo {
    position: absolute;
    top: 100vh;
    opacity: 0;
  }

  .add-picture-image{
    width: 20vw;
    margin: 0 auto;
  }

  .custom-my{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    text-align: left;
  }

  .alert-md .alert-wrapper, .alert-md .alert-head{
    background-color: #f8f8f8 !important;
  }
  ion-alert .alert-wrapper{
    background-color: #f8f8f8 !important;
  }
  .alert-ios .alert-wrapper{
    background-color: #f8f8f8 !important;
  }
  .alert-md .alert-button, .alert-ios .alert-button{
    color: #1f4487 !important;
  }

}
.alert-ios .alert-radio-label, .alert-md .alert-radio-label{
  color: #ffffff !important;
}