
<ion-header>
  <ion-navbar>
    <ion-title class="liberi">{{isPurchaseDone? 'COMPRA EXITOSA' : 'COMPRAR'}}</ion-title>
    <button ion-button menuToggle="left" *ngIf="!isModal">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <ion-buttons *ngIf="isModal && !isPurchaseDone">
      <button ion-button (click)="dismiss()" class="buttonLittleRight">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="isModal && isPurchaseDone">
      <button ion-button (click)="dismiss2()" class="buttonLittleRight">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <navbar-bump></navbar-bump>
</ion-header>


<ion-content padding>
  <div *ngIf="!isPurchaseDone">
    <ion-item text-center>
      <h1><b>Bonga GYM</b></h1>
      <img class="rad15" src="assets/img/example/bonga.jpg">
      <h2>Monto: <span ion-text color="danger">${{gym.CostoIva | number: '1.2-2'}} MXN</span></h2>
    </ion-item>
    <button ion-item detail-none text-center *ngIf="cards.length" (tap)="showCardAlert()" text-wrap>
      <h3>Tarjeta</h3>
      <h2> {{selectedCard.card.brand}} {{selectedCard.card.card_number}}</h2>
    </button>
    <ion-item *ngIf="cards.length" text-center>
      <small>
        <a (tap)="addCardPage()">Agregar nueva Tarjeta</a>
      </small>
    </ion-item>
    <ion-item text-center no-lines *ngIf="!cards.length">
      <ion-list-header>Agregar Tarjeta</ion-list-header>
      <liberi-button name="plus" (tap)="addCardPage()"></liberi-button>
    </ion-item>
  </div>

  <div *ngIf="isPurchaseDone">
    <div text-center>
      <br />
      <img class="rad15" [src]="'https://api.qrserver.com/v1/create-qr-code/?size=550x550&data=' + generated_code" class="qr-code" style="width: 40%;">
      <br />
      <b>{{generated_code}}</b>
    </div>
    <ion-item text-center text-wrap no-lines>
      <ion-list-header><b>Tu compra ha sido registrada correctamente</b></ion-list-header>
    </ion-item>

      <div class="text-container">
          <ion-item text-center text-wrap class="text-box-outline">
              <p>Puedes consultar los detalles de tu compra en tu <b>HISTORIAL DE COMPRAS</b>.</p>
          </ion-item>
      </div>
  </div>

  <br><br>
  <div text-center *ngIf="cards.length">
    <liberi-button name="check-blue" (click)="!isPurchaseDone ? purchase() : dismiss2()"></liberi-button>
  </div>
</ion-content>
<ion-footer no-shadow>
  <div class="liberi-logo-line"></div>
  <ion-toolbar position="bottom"></ion-toolbar>
</ion-footer>
