page-gym-purchase {
  margin-top: 20px !important;

  img {
    border-radius: 15px;
  }

  .purchase-button {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .text-box-outline {
    p {
      font-size: 1em;
    }
  }
}
